.bubbles {
    border: 7px white solid;
    width: 6em;
    height: 6em;
    color: white;
}
.bubble-icons {
    height: 18px;
    width: 18px;
}
.logo {
    width: 105px;
    height: 105px;
}
.back-color {
    background-color: #e6e6e6
}
.reddish {
    background-color: #E6563B;
}
.orangeish {
    background-color: #EB9D3A
}
.greenish {
    background-color: #7CB06C
}
.blueish {
    background-color: #00ABA9
}
.abel-font {
    font-family: 'Abel', sans-serif;
}
.anton-font {
    font-family: 'Anton', sans-serif;
}
.main-imgs {
    height: 100px;
    width: 100px;
}